.wea{
    background-color: white;
    padding: 5px;
}

.hokkaido{
    font-size: 16px;
}

.miyagi{
    font-size: 16px;
}

.tokyo{
    font-size: 16px;
}

.hiroshima{
    font-size: 16px;
}

.fukuoka{
    font-size: 16px;
}